/* #topTippersTitle {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 36px;
}

#videoTippersDesktop {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
}

#videoTippersDesktop::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

.tipperDiv {
    width: 160px;
    height: 44px;
    background-color: #1B1F21;
    border: solid 1.6px transparent;
    border-radius: 3.2px;
    display: inline-block;
    cursor: pointer;
    margin-right: 16px;
    font-size: 12.8px;
}

.tipperFlex {
    height: 100%;
    display: flex;
    align-items: center;
}

.tipperRank {
    color: white;
    margin-left: 12px;
}

.tipperDiv:hover {
    border-color: var(--green);
}

.tipperInfo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.tipperPic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 8px;
    object-fit: cover;
}

.tipperName {
    color: white;
}

.tipperAmount {
    color: var(--green);
} */