.singleStar {
    width: 90px;
    height: 90px;
    rotate: -2.5deg;
}

#starFade {
    background-image: linear-gradient(to bottom, rgba(243, 244, 245, 0), #14171a);
    position: fixed;
    width: 100vw;
    height: 250px;
    bottom: 0px;
    z-index: 9;
}

#starsTitle {
    /* rotate: -0.2deg; */
    position: fixed;
    bottom: 75px;
    right: 55px;
    color: white;
    font-family: "font-2535";
    font-weight: 600;
    font-size: 60px;
    z-index: 10;
}